/* You can add global styles to this file, and also import other style files */
.popover-box {
  position: absolute;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  display: inline;
  top: -46px;
  left: -2px;
  white-space:nowrap;
  padding:3px;
  color: rgb(255, 255, 255);
  background: rgb(0, 0, 0) none repeat scroll 0 0;
  opacity: 0.8;
  height: auto;
  line-height: 40px;
  border-radius: 5px;
  cursor:context-menu;
  box-shadow: rgba(0, 0, 0, 0.75) 2px 3px 5px 0;
}
